doctype html
html
  head
    title #{title} - Private Cloud
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel="stylesheet", href="/admin/assets/report.css")
    include ../includes/footer-js.pug
    script(src="/admin/assets/report.js")
  body

    table.table
      thead
        tr
          th(colspan="8")
            h4.card-title Private Cloud System Report on #{ReportTitle}
            h6.crad-subtitle Generated On #[span#now]
        if withLegend === true
          include _partials/legend.pug
        tr
          th Time
          th Hostname
          th Tag
          if withLegend === true
            th Severity
          th(colspan="4") Message
      tbody
        each entry in data
          tr
            td.nosplit= entry.time
            td= entry.hostname
            td= entry.tag
            if withLegend === true
              td= entry.severity
            td.split(colspan="4")= entry.msg
