extends ../layouts/report

- const severity_Human = 'Emergency Alert Critical Error Warning Notice Informational Debug'.split(' ');

block report-heading
  tbody
    tr
      th(colspan="8")
        h4.card-title Private Cloud System Report on #{ReportTitle}
        h6.card-subtitle Generated On #[span#now]

block report-body
  thead
    tr
      th Time
      th Hostname
      th Tag
      if withLegend === true
        th Severity
      th(colspan="4") Message
  tbody
    each entry in data
      tr
        td.nosplit= entry.time
        td.nosplit= entry.hostname
        td= entry.tag
        if withLegend === true
          td= severity_Human[entry.severity]
        td.split(colspan="4")= entry.msg
