extends ../layout

block menu
  include common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")

block content
  .container
    h1= title
    p For your security, it is suggested to change the password regularly.
    if errorMessage.length
      .alert.alert-danger !{errorMessage}
    if successMessage.length
      .alert.alert-success !{successMessage}
    .card
      form.card-block(method="post")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        .form-group.row
          label.col-md-2.col-form-label(for="username") Username
          .col-md-10
            p.form-control-static= userdata.username
        .form-group.row
          label.col-md-2.col-form-label(for="password") New Password
          .col-md-10
            input.form-control(type="password", name="password", id="password", required)
        .form-group.row
          label.col-md-2.col-form-label(for="password") Confirmation
          .col-md-10
            input.form-control(type="password", name="cfm_password", id="cfm_password", required)
        .form-group
          .row
            .btn-toolbar.offset-md-2.col-md-4
              .btn-group.mr-1
                button.btn.btn-primary(type="submit")
                  | Submit
              .btn-group.ml-1
                button.btn.btn-secondary(type="reset")
                  | Reset
          .row
            .offset-md-2.col-md-4.mt-2
              button.btn.btn-info(type="button", data-toggle="modal", data-target="#passwordGenerate")
                | No Idea? Generate!
  include _partials/password-generate

block additional-libraries
  script(src="/assets/javascripts/confirm.js")
