thead
  tr
    th #
    th Username
    th Created
    th Updated
    th Action
tbody
  each value, index in data
    tr
      td= value.id
      td= value.username
      td= value.createdAt
      td= value.updatedAt
      td.clearfix
        .btn-group.ml-0.mr-0
          button.btn.btn-sm.btn-primary.user-edit(data-entryid=`${value.id}`) Reset Password
          a.btn.btn-sm.btn-danger.user-delete(href=`/admin/users/delete/${value.id}`) Delete User
