include formatBytes

if data.Status === "Success"
  .card
    .card-header
      h5.mb-0= data.Value.name_label
    .card-block.pb-1
      .btn-toolbar
        .btn-group.mr-2#managed-tool
          button.btn.btn-secondary(type="button") Loading...
        .btn-group.mr-2#unmanaged-tool
          a.btn.btn-primary#refresh(href="#") Refresh
    .card-block
      dl.row
        dt.col-sm-3 Power State
        dd.col-sm-9#pstate= data.Value.power_state

        dt.col-sm-3 Memory Size
        dd.col-sm-9= formatBytes(data.Value.memory_static_max)

        dt.col-sm-3 Network Interfaces
        dd.col-sm-9
          ul.list-unstyled
            each item, index in data.Value.VIFs
              li
                a.btn.btn-link.btn-sm.pl-0(href=`../vif/${item}`)= item
        dt.col-sm-3 Boot Arguments
        dd.col-sm-9
          input.form-control(type='text', value=`${data.Value.PV_args}`, readonly)

        dt.col-sm-3 Instance Metrics
        dd.col-sm-9
          dl.row
            dt.col-sm-3 OS Name
            dd.col-sm-9#modal-metric-osname

            dt.col-sm-3 OS Kernel
            dd.col-sm-9#modal-metric-kernel

            dt.col-sm-3 Guest Driver
            dd.col-sm-9#modal-metric-driver

        dt.col-sm-3 Instance IP
        dd.col-sm-9
          dl.row
            dt.col-sm-3 IPv4
            dd.col-sm-9#modal-ip-ipv4

            dt.col-sm-3 IPv6
            dd.col-sm-9#modal-ip-ipv6

            span.col-sm-12.text-danger#modal-ip-alert.
              Data may not be accurate. Boot Your Instance and refresh this webpage to retreive the most accurate data. 

        dt.col-sm-3 Tags
        dd.col-sm-9
          if data.Value.tags.length > 0
            ul
              each item, index in data.Value.tags
                li= item
  //- Dialog
  #confirmation-modal.modal.fade
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Confirmation
          button.close(type='button', data-dismiss="modal")
            span &times;
        .modal-body
          dl.row
            dt.col-sm-3 Subject
            dd.col-sm-9#confirmation-field-uuid
            dt.col-sm-3 Action
            dd.col-sm-9#confirmation-field-verb
          .row
            .btn-block.col-sm-12
            .col-sm-12#confirmation-loading
              include ../../includes/loading-bar.pug
          dl.row#confirmation-field-rsvp
            dt.col-sm-3 Task ID
            dd.col-dm-9#confirmation-field-rsvp-etktid
        .modal-footer
          button.btn.btn-primary#confirmation-confirm(type='button', data-csrf=`${csrf}`) Yes
          button.btn.btn-secondary(data-dismiss='modal') Close/Cancel
else
  .card
    .card-block
      .alert.alert-danger= data.ErrorDescription
