include formatBytes

if data.Status === "Success"
  .card
    .card-header
      h5.mb-0= data.Value.name_label
    .card-block
      dl.row
        dt.col-sm-3 Power State
        dd.col-sm-9#pstate= data.Value.power_state

        dt.col-sm-3 Memory Size
        dd.col-sm-9= formatBytes(data.Value.memory_static_max)

        dt.col-sm-3 Network Interfaces
        dd.col-sm-9
          ul.list-unstyled
            each item, index in data.Value.VIFs
              li
                a.btn.btn-link.btn-sm.pl-0(href=`../vif/${item}`)= item
        dt.col-sm-3 Boot Arguments
        dd.col-sm-9
          input.form-control(type='text', value=`${data.Value.PV_args}`, readonly)

        dt.col-sm-3 Instance Metrics
        dd.col-sm-9 
          .row#modal-metric-loading-bar
            .col-sm-12
              include ../../includes/loading-bar.pug
          dl.row#modal-metric-main
            dt.col-sm-4 OS Name
            dd.col-sm-8#modal-metric-osname

            dt.col-sm-4 OS Kernel
            dd.col-sm-8#modal-metric-kernel

            dt.col-sm-4 Guest Driver
            dd.col-sm-8#modal-metric-driver

        dt.col-sm-3 Instance IP
        dd.col-sm-9#vmip
          include ../../includes/loading-bar.pug

        dt.col-sm-3 Tags
        dd.col-sm-9
          ul
            each item, index in data.Value.tags
              li= item
else
  .card
    .card-block
      .alert.alert-danger= data.ErrorDescription
