if payload.length
  each value, index in payload
    tr
      td= index
      td= value.type
      td= value.name
      td= value.ipv4address
      td= value.ipv6address
      td= value.cname
      td.clearfix
        .btn-group.float-right.ml-0.mr-0
          button.btn.btn-sm.btn-primary.dns-edit(data-entryid=`value.id`) Edit
          button.btn.btn-sm.btn-danger.dns-delete(data-entryid=`value.id`) Delete
else
  tr.table-info
    td(colspan="7") No Records
