form.dns-edit-form(method="POST", action="/users/dns/patch")
  input(type="hidden" name="_csrf" value=`${csrfToken}`)
  input(type="hidden", name="woot", value=`${payload.id}`)
  .form-group
    label(for='type') Record Type
    input.form-control(type='text', name='type', value=`${payload.type}`, readonly)
  .form-group
    label(for='dns-name-edit') Name (Domain)
    input#dns-name-edit.form-control(type='text', name='name', required, value=`${payload.name}`)
  if (payload.type === 'A')
    .form-group
      label(for='ip4-edit') IPv4 Address
      input#ip4-edit.form-control(type='text', name='ip4', required, value=`${payload.ipv4address}`)
    .form-group
      label(for='ip6-edit') IPv6 Address
      input#ip6-edit.form-control(type='text', name='ip6', required, value=`${payload.ipv6address}`)
  if (payload.type === 'CNAME')
    .form-group
      label(for='opt') Value
      input#opt-edit.form-control(type='text', name='opt', required, value=`${payload.cname}`)
  .form-group
    .btn-toolbar
      .btn-group.mr-2
        button.btn.btn-primary#edit-submit(type="submit") Submit
      .btn-group
        button.btn.btn-secondary(type="reset") Reset
